// Primary colors
$white: #fff;
$dark: #0e1724;
$teal: #00bdb0;
$grey: #373339;
$blue: #1b1bd4;
$mystic: #F2F7FF;
$darkGrey: #252e3b;
$pissYellow: #ecc417;
$oxford-blue: #3b4555;
$shuttle-gray: #5d636d;

//Base colors
$text-color: $white;
$label-color: $grey;
$primary-color: $white;
$brand-color: $pissYellow;
$inputtype-color:$mystic; 
$inputtypefocus-color: $white;