$font-size: 14px;
$spacing-1: 48px;
$spacing-2: 40px;
$spacing-3: 32px;
$spacing-4: 24px;
$spacing-5: 16px;
$spacing-6: 14px;
$spacing-7: 4px;
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 600;
$font-extra-bold: 700;
$font-family: 'Source Sans Pro',
sans-serif;